{% spaceless %}
<!DOCTYPE html>
<html lang="id" itemscope itemtype="http://schema.org/Product">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> {{ meta.seo | raw }}
    <link rel="icon" href="{{ base_url() }}/assets/images/logo/favicon.ico" type="image/x-icon"> {% if isProduction %} {% block css_assets %}{% endblock %} {% else %} {{ css_assets | raw }} {% endif %}
    <script src="{{ base_url() }}/assets/js/ga-script.js"></script>
</head>

<body data-ctrl="{{ controller }}" data-url="{{ base_url() }}">
    <div class="overlay-body"></div>
    <div class="overlay-menu"></div>
    {% include 'general/themes/header.twig' %}
    <main>
        {% block body %}{% endblock body%}
    </main>
    {% include 'general/themes/footer.twig' %}
</body>

{% if isProduction %} {% block js_assets %}{% endblock %} {% else %} {{ js_assets | raw }} {% endif %}

</html>
{% endspaceless %}